/* header section */

.header-img{
    transform: scale(1);
    transform: scaleX(1.6);
    transform: scaleY(0.7);

}

.video-section-img1{
    width: 2rem;
    height: 2rem;
}

@media only screen  and (max-width:776px){
    .video-section-img1{
        width: 4rem;
        height: 4rem;
    }
}